<!DOCTYPE html> <head>
    <meta charset="UTF-8"> <title>Banco de dados com NodeJS e Express</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
   <body>
    <div class="container">
    <h2>Inserir novo Registo</h2>
    <form action="/cadastro" method="POST">
    <div class="form-group"> <label for="usr">Nome:</label>
    <input type="text" class="form-control" name="nome">
    </div>
    <div class="form-group"> <label for="usr">Email:</label>
    <input type="Email" class="form-control" name="email">
    </div>
    <div class="form-group"> <label for="pwd">Senha:</label>
    <input type="password" class="form-control" name="senha">
    </div>
   <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    </div>
   </body></html>
   