<main class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px; background-color: var(--card-color);">
      <h4 class="text-center mb-3" style="color: var(--accent); font-family: var(--font-main);">Criar Conta</h4>

      <form action="/cadastro" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label" style="color: var(--text-color); font-family: var(--font-main);">Nome</label>
          <input
            type="text"
            class="form-control"
            name="nome"
            required
            style="background-color: #1f3310; color: var(--text-color); border: 1px solid var(--accent); font-family: var(--font-main);"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" style="color: var(--text-color); font-family: var(--font-main);">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            required
            style="background-color: #1f3310; color: var(--text-color); border: 1px solid var(--accent); font-family: var(--font-main);"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" style="color: var(--text-color); font-family: var(--font-main);">Senha</label>
          <input
            type="password"
            class="form-control"
            name="senha"
            style="background-color: #1f3310; color: var(--text-color); border: 1px solid var(--accent); font-family: var(--font-main);"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" style="color: var(--text-color); font-family: var(--font-main);">Foto</label>
          <input
            type="file"
            class="form-control"
            name="foto"
            accept="image/*"
            required
            style="background-color: #1f3310; color: var(--text-color); border: 1px solid var(--accent); font-family: var(--font-main);"
          />
        </div>

        <button type="submit" class="btn btn-primary w-100" style="font-family: var(--font-main);">Registrar</button>
      </form>

      <div class="text-center mt-3" style="font-family: var(--font-main); color: var(--accent-light);">
        <a href="/login" class="text-decoration-none" style="color: var(--accent-light);">Já tem conta? Entrar</a>
      </div>
    </div>
  </main>